
.dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-button {
    color: black;
    background: transparent;
    padding: 8px 16px;
    font-size: 16px;
    border: 0.5px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
  }
  

  .dropdown-content {
    position: absolute;
    background-color: #D4D4D4;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1;
    top: 100%;
    left: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  